@import 'bootstrap-custom';
@import 'variables';

body {
  background: $base-bg !important;
  color: $base-body-color !important;
  font-family: $body-font-family !important;
  font-weight: $body-font-weight !important;
  font-size: $body-font-size !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $header-font-family;
}

h1 {
  font-size: 1.25rem !important;
}
h2 {
  font-size: 1.1rem !important;
}
h3 {
  font-size: 0.9rem !important;
}
h4 {
  font-size: 0.85rem !important;
}
h5 {
  font-size: 0.8rem !important;
}
h6 {
  font-size: 0.8rem !important;
}

section {
  margin: 0.5rem 0;
}

select {
  color: inherit;
  background: inherit;
}

.content {
  height: 100vw;
  position: relative;
}

.box {
  border: $mod-border;
  border-radius: $mod-border-radius;
  padding: 0.75rem;
  margin: 0.5rem;
}

span.control-value {
  padding-left: 0.5rem;
  display: inline-block;
}

.draggable-input-range {
  .control-wrapper {
    position: relative;
    height: 1.2rem;
    width: 4.5rem;
  }
  .control {
    flex: 1;
    padding: 0 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: $base-body-color;
    z-index: 10;
  }

  .range-bar {
    width: 100%;
    height: 100%;
  }
}

.progress {
  position: absolute;
  top: 0;
  background-color: transparent !important;
  border: $mod-border;
  border-radius: 0 !important;
  z-index: -1;

  .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

#main-controls {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize !important;
}

#volume {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
}

div[id^='track'] {
  padding: map-get($spacers, 2);
  background: rgba($white, 0.1);
}
